body {
    margin: 0;
    padding: 0;
    background: #101820;
    font-family: Arial;
    color: white;
}

#messages {
    list-style: none;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
}

#form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    background: #39f;
    border: none;
    color: white;
    cursor: pointer;
}
/* ----- MODAL TASARIMI ----- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #1b2430;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 15px #000;
}

.modal-content h2 {
    margin-bottom: 10px;
    color: #4fc3f7;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #f1f1f1;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background: #4fc3f7;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #82e0ff;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1b2430;
}
.header {
    background: #4fc3f7;
    padding: 15px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #333;
}
.messages {
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.4;
    display: inline-block;
}

.me {
    background: #4fc3f7;
    color: #000;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

.other {
    background: #333c49;
    color: #fff;
    margin-right: auto;
    border-bottom-left-radius: 0;
}

.username {
    font-weight: bold;
}

.time {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    opacity: 0.6;
}
.input-area {
    display: flex;
    padding: 10px;
    background: #111722;
    border-top: 2px solid #000;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 10px;
}

.input-area button {
    padding: 12px 20px;
    background: #4fc3f7;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.input-area button:hover {
    background: #82e0ff;
}



